h1{ 
}
p{
	width: 1000px;
	padding: 0.5em;
	line-height: 150%;
}

li{
	line-height: 150%;
}
ul{
	line-height: 150%;
}
table{
		width: 100%;
		border: 1px solid #00008B;
		padding: 0.5em
}
td{
	text-align: center;
	padding: 0.5em;
	border: 1px solid #191970

}

input{
	width: 20%;
}
fieldset{
	width: 93%
}

body {

background-image: url(../images/fondo.jpg);
background-size: cover;
background-repeat: repeat;
}
mark{
color: #8B0000;
}